@model ML.Producto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registra o actualiza un producto Italika</h2>
<div class="container">

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Accion)
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.SKU)
                            @Html.TextBoxFor(model => model.SKU, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.SKU)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Fert)
                            @Html.TextBoxFor(model => model.Fert, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Fert)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Modelo)
                            @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Modelo)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Tipo)
                            @Html.TextBoxFor(model => model.Tipo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Tipo)
                            <h6 style="color: blue;">TRABAJO | DEPORTIVA | INFÁNTIL</h6>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.NumeroDeSerie)
                            @Html.TextBoxFor(model => model.NumeroDeSerie, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NumeroDeSerie)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Producto", htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

